/*Header HeaderHeader HeaderHeader HeaderHeader HeaderHeader HeaderHeader HeaderHeader HeaderHeader HeaderHeader Header*/

header {	/*min-height:60px;*/ display: block; /*box-shadow: 0px  2px #585858;*//* 5px 5px 30px #2E2E2E inset;*/	border-radius: 6px;	
margin-top: 5px; border-bottom: 5px;}
.nav-head{/*background-image: url(back12.jpg);background-size: 150%;background-repeat: repeat;*/
background-color: #37474F;}
.logoline { 	font-size: 180%;font-family:  'Bungee Shade', cursive; text-align: center;}
.logoline a{color: #FFFFFF;}
.logoline a:hover{	text-decoration: none;	 
}
.selected{text-decoration: underline;}		
.sm-men{margin:auto; }
.sm-men ul li a{margin:auto;font-family: 'Bungee Inline', cursive; color:#FFFFFF; font-size: 80%;}
.men-item{margin-right: 10px;}
.men-list{font-size: 150%; margin-top: 15px; color:#ffffff ;}

.dropdown-menu{margin-top: 12px;background-color:#37474F;min-width: 767px;}
.dropdown-menu > .active > a{background-color: #000000;}
.dropdown-menu > .active > a:hover{background-color: #000000; }
.dropdown-menu > li > a:hover{background-color: #000000; color: #FFFFFF;}
.men-item{size: 100%;}
.med-men{margin-top: 5px;
}
.med-men li{	text-decoration: none;	display: inline; text-align: center; margin-top: 12px;}
.med-men li a{font-family: 'Bungee Inline', cursive;font-size: 80%; color: #ffffff;}

.med-men li a:hover{text-decoration: none;background-color: #37474F;}
/*Body Body Body Body Body Body Body Body Body Body Body Body Body Body Body Body Body Body Body */
body{
	/*background-color:#ffffff ;*/

 	overflow-x: hidden;

	width: auto;
	height: auto;
}
/*.html,.css{margin-top: 20px;}
.html img,.css img {max-height: 400px;
	max-width: 300px; margin-top: 10px;}
.java img{max-width: 500px; max-height: 400px;}	
.selenium img{
	max-height: 300px;
	max-width: 300px;
}
*/

form{
	margin-top: 40px;
	text-align: center;}
	.cal,.alphabatical{margin-top: 140px;}
	.calResult {text-decoration: underline;text-align: center;}
.calcLabl,.alphaOrder{text-align: center; font-family: sans-serif;margin-top: 20px;}
.calcButn{
	margin-top: 20px;
	text-align: center;
}
.row{margin-right: 0px;
margin-left: 0px;}

h2{color: #424242;}	
span{margin-bottom: 10px;}
.alphabatical_btn{
	margin-top: 40px;
	text-align: center;
}
#result{margin-top: 10px;text-align: center;}
.alphab_form{margin-top: 30px;text-align: center; }
.ans_pos { text-align: center;}
.well{background: none; }
.unitMatrix h2{text-align: center;}
.matrixBtn{text-align: center;}
.pallindrome h2,.pallindrome-submit, .factors h2 , .factor-submit{text-align: center;}

.res-style{color:#424242; text-decoration: underline; size: 2px;}








/*Section Section Section Section Section Section Section Section Section Section Section   #013A47 */
